---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

export interface Props {
    pageTitle: string;
};

export const canonicalHost = 'plxtra.org'; // Defined in Astro Config. In future get this from environmental variable
export const canonicalSite = `https://${canonicalHost}/`;
const canonicalURl = new URL(Astro.url.pathname, canonicalSite);

const { pageTitle } = Astro.props;
const narrowHeading = 'Fielded Text';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/plxtra-logo.svg" />
        <link rel="canonical" href={canonicalURl} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header>
            <span class="narrow-heading" slot="narrow-heading">{narrowHeading}</span>
        </Header>

        <div id="titleAndContent">
            <h1>{pageTitle}</h1>
            <slot />
        </div>
        <Footer />
    </body>
</html>

<style>
    html {
        background-color: #f1f5f9;
        color: black;
        font-family: sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    h1 {
        margin: 1rem 0;
        font-size: 2rem;
        line-height: 1.1;
    }

    h2 {
        margin: 1rem 0;
        font-size: 1.5rem;
    }

    /* Lists */
    @media screen and (min-Width: 331px) and (max-width: 430px) {
        ul {
            padding-left: 1em;
        }

        li > p {
            display: inline;
        }
    }

    /* Lists */
    @media screen and (max-width: 330px) {
        li {
            list-style-position: inside;
        }

        ul {
            padding-left: 0;
        }

        li > p {
            display: inline;
        }
    }

    body {
        margin: 0 auto;
        padding: 0;
        font-size: calc(15px + 0.390625vw);
    }

    #titleAndContent {
        width: 100%;
        max-width: 80ch;
        margin: 0 auto;
        padding: 0 1rem;
        line-height: 1.5;

        /* Table */
        table {
            display: block;
            overflow-x: auto;
            border-collapse: collapse;

            th,
            td {
                border: 1px solid darkslategrey;
                padding: .3em;
            }
        }
    }

    .narrow-heading {
        font-size: small;
    }
</style>
